*.obj
*.suo
*.ncb
*.user
*.pdb
*.swp
*.manifest

*.ReSharper
_ReSharper*

obj/
bin/
CefSharp/app.aps
TestResult.xml
debug.log
/Release/CefSharp.Wpf.Example.exe.config
/Release/CefSharp.WinForms.Example.exe.config
/Debug/locales
